<table class="table table-striped">
<tr>
    <th>Name</th><th>Type</th><th>Degree</th><th>Major</th><th>School</th><th>Company</th><th>Position</th><th>Company Type</th><th>LinkedIn Company URL</th><th>Company Size</th><th>Start Date</th><th>End Date</th>
</tr>

<% for row in @profile_table %>
    <tr>
        <% for cell in row %>
        <td><%= cell %></td>
        <% end %>
    </tr>
<% end %>
</table>
