<h1 class="text-center">LinkedIn Scraper</h1>
<%= text_area_tag 'urls', nil, placeholder: 'Type in the LinkedIn profile URLs here. Separate each new URL with a new line.', cols: 75, rows: 20 %><br/>
<%= button_tag 'Process', id: 'submit_button' %>
<div id='result'>
</div>
<br/>
<table id='result-table' class="table table-striped">
    <tr>
        <th>Name</th><th>Type</th><th>Degree</th><th>Major</th><th>School</th><th>Company</th><th>Position</th><th>Company Type</th><th>LinkedIn Company URL</th><th>Company Size</th><th>Start Date</th><th>End Date</th>
    </tr>
</table>
<script>
    $('#submit_button').click(function() {
        var text = $('textarea#urls').val();
         $('textarea#urls').val("");
         $('#result').text("Please wait...");
        document.body.style.cursor = 'wait';
        var urls = text.split("\n");
        console.log(urls)
        for (var i = 0; i < urls.length; i++) {
            $.ajax({
                url: '/view',
                type: 'GET',
                data: {'url': urls[i]},
                success: function(result, status, xhr) {
                    console.log("hi")

                    console.log(result);
                    $('#result-table').append(result);
                },
                error: function(xhr, status, error) {
                    $('#result').text(error);
                },
                complete: function(xhr, status) {
                    document.body.style.cursor = 'auto';
                }
            });
        }

    });
</script>