<h1 class="text-center">LinkedIn Scraper</h1>
<%= text_area_tag 'urls', nil, placeholder: 'Type in the LinkedIn profile URLs here. Separate each new URL with a new line.', cols: 75, rows: 20 %></br>
<%= button_tag 'Process', id: 'submit_button' %>
<div id='result'></div>
<script>
    $('#submit_button').click(function() {
        var text = $('textarea#urls').val();
         $('textarea#urls').val("");
        document.body.style.cursor = 'wait';
        $.ajax({
            url: '/view',
            type: 'GET',
            data: {'urls': text},
            success: function(result, status, xhr) {
                $('#result').append(result);
            },
            complete: function(xhr, status) {
                document.body.style.cursor = 'auto';
            }
        });
    });
</script>